@import '~partials/scss/abstracts/variables';
@import './../../partials/scss/base/host';
@import './../../partials/scss/layouts/input';
@import './../../partials/scss/layouts/icon';
@import './../../partials/scss/layouts/hint';

.input-text-container:focus-within .main-wrapper {
    border: 1px solid var(--accent-color, #222);
    /*background-color: var(--accent-background-color, #f9f7fc);*/
}
:host([invalid]) .input-text-container .main-wrapper {
    border: 1px solid var(--danger-color, #dd8080);
}

.label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.label-container > label {
    width: 100%;
    line-height: 1.2rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--label-color, #a6a6ab);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(.75rem);
    transition: all 180ms ease-in-out;
    transform-origin: 0% 100%;
}

:host([invalid]) .label-container > label,
:host([invalid]) .icon-container > slot[name="leading-icon"]::slotted(span) { 
    color: var(--danger-color, #dd8080);
}

 /** INPUT **/
.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
input[type="text"] {
    width: 100%;
    height: 2.4rem;
    line-height: 2.4rem;
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
    border: none;
    outline: none;
}
input[type="text"]:placeholder-shown {
    font-size: 1rem;
    opacity: .75;
    line-height: 1.2rem;
    height: 1.4rem;
}
.has-label input[type="text"] {
    line-height: 1.4rem;
    height: 1.6rem;
}
.has-label input[type="text"]:placeholder-shown {
    opacity: 0;
    transition: opacity 180ms ease-in-out;
}
.has-label input[type="text"]:focus:placeholder-shown {
    opacity: .75;
}
.has-value .label-container > label,
.input-text-container:focus-within .label-container > label {
    transform: translateY(0) scale(.8);
}
:host(:is(:not([invalid]))) .input-text-container:hover .label-container > label,
:host(:is(:not([invalid]))).input-text-container:focus-within .label-container > label {
    color: var(--accent-color, #000);
}

.initialized .hints-container > slot {
    transition-property: transform, opacity;
    transition: 180ms linear;
}