{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"transform-require-default",
			{
				"exclude": "/node_modules/"
			}
		]
	],
	"ignore": [
		"/node_modules/"
	],
}
