# See https://gitlab.com/sabriayes/naylawebs-dev-guideline/-/blob/main/.gitignore for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/jspm_packages

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/pids
/lib-cov
/typings
/logs
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
sw.*
*.swp

# system files
.DS_Store
Thumbs.db

# package files
.npm
package-lock.json
yarn.lock
.yarn-integrity
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml

# php laravel
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache

# env files
.env
.env.backup
env.*.sh

# vue 2
.next
.nuxt
.vuepress/dist
.serverless
build/Release
bower_components
*.pid
*.seed
*.pid.lock
.nyc_output
.grunt
.lock-wscript
.eslintcache
.node_repl_history
*.tgz

# test
junit.xml
e2e-report.xml
unit-report.xml
