@import '~#partials/scss/abstracts/variables';
@import '~#partials/scss/layouts/basic-input';

.switch-btn-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    cursor: initial;
    &:hover {
        cursor: initial;
    }
    &.has-node {
        cursor: pointer !important;
        &:hover {
            cursor: pointer!important;
        }
    }
    & > slot[name="switch-btn"] {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        min-width: 1rem;
        &::slotted(span) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            width: 2.5rem;
            color: var(--vwc-icon-color, $icon-color);
        }
    }
    &.type-password {
        & > slot[name="switch-btn"] {
            &::slotted([password-btn]) {
                display: flex;
            }
            &::slotted([text-btn]) {
                display: none;
            }
        }
    }
    &.type-text {
        & > slot[name="switch-btn"] {
            &::slotted([password-btn]) {
                display: none;
            }
            &::slotted([text-btn]) {
                display: flex;
            }
        }
    }
}
