@import '~partials/scss/abstracts/mixins';

.hints-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .2rem;
    z-index: 1;
    overflow: hidden;
    /* height: .75rem; */
    &:empty {
        display: none;
    }
    & > slot {
        display: inline-block;
    }
    & > slot[name="hint"] {
        @include hint-element;
        transform: translateY(0);
        opacity: 1;
    }
    & > slot[name="errors"] {
        @include hint-element;
        transform: translateY(-1rem);
        opacity: 0;
        &::slotted([hidden]) {
            display: none !important;
        }
        &::slotted(span) {
            color: var(--danger-color, $danger-color);
        }
    }
}

:host(:is(:not([invalid]))) {
    & .hints-container > slot[name="errors"] {
        @include hide-errors-and-hints;
    }
    & .hints-container > slot[name="hint"] {
        @include show-errors-and-hints;
    }
}

:host([invalid]) {
    & .hints-container > slot[name="hint"] {
        @include hide-errors-and-hints;
    }
    & .hints-container > slot[name="errors"] {
        @include show-errors-and-hints;
    }
}