@import '~#partials/scss/abstracts/mixins';

.icon-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    & > slot:is([name="leading-icon"], [name="trailing-icon"]) {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        min-width: 1rem;
        visibility: hidden;
        &::slotted(span) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            width: 2.5rem;
            color: var(--vwc-icon-color, $icon-color);
        }
    }
    & > slot:is([name="leading-icon"]) {
        @include at-leading-icon-container {
            visibility: visible;
        }
    }
    & > slot:is([name="trailing-icon"]) {
        @include at-trailing-icon-container {
            visibility: visible;
        }
    }
    /*
    &.trailing-icon {
        text-decoration: none;
        & ::slotted(.success) {
            color: var(--vwc-success-color, $success-color);
        }
        & ::slotted(.info) {
            color: var(--vwc-info-color, $info-color);
        }
        & ::slotted(.danger) {
            color: var(--vwc-danger-color, $danger-color);
        }
    }
    */
}
