.icon-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    & > slot:is([name="leading-icon"], [name="trailing-icon"]) {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        min-width: 1rem;
        &::slotted(span) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            width: 2.5rem;
            color: var(--icon-color, #a6a6ab);
        }
    }
    &.trailing-icon {
        text-decoration: none;
        & ::slotted(.success) {
            color: var(--success-color, #68ca8e) !important;
        }
        & ::slotted(.info) {
            color: var(--info-color, #62aeda);
        }
        & ::slotted(.danger) {
            color: var(--danger-color, #dd8080);
        }
    }
}