@use "sass:selector";

/* Mixins for host */

@mixin at-invalid-host() {
    @at-root :host([invalid]) #{&} {
        @content;
    }
}

@mixin at-valid-host() {
    @at-root :host(:is(:not([invalid]))) #{&} {
        @content;
    }
}

/* Mixins for hints */

@mixin hint-element {
    font-size: .7rem;
    color: var(--vwc-label-color, $label-color);
    font-weight: 300;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@mixin hide-errors-and-hints {
    transform: translateY(-1rem);
    opacity: 0;
}

@mixin show-errors-and-hints {
    transform: translateY(0rem);
    opacity: 1;
}
