$background-color: rgba(252, 252, 252);
$border-color: rgba(180, 189, 198, 1);
$label-color: rgba(180, 189, 198, 1);
$icon-color: rgba(180, 189, 198, 1);
$accent-color: rgba(105, 108, 255, 1);
$danger-color: rgba(253, 104, 104, 1);
$success-color: rgba(104, 255, 157, 1);
$info-color: rgba(105, 191, 252, 1);
