:host { 
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    *[class] {
        position: relative;
        font-family: inherit;
        color: inherit;
        box-sizing: border-box;
    }
}
